
<div class="container">
    <form >
        <h1 style="color: black">Client Management Application</h1><br>       
    <section >
        <ul>
            <li><a class="active p1" [routerLink]="['/']">Home</a></li>
            <li><a class="active p1" [routerLink]="['/client']">Client Registration</a></li>
            <li><a class="active p1" [routerLink]="['/meeting']">Meeting Schedule</a></li>
        </ul>
    </section>
        
        <section >
        <router-outlet></router-outlet>
    </section>



    </form>
</div>